<div class="bg"></div> 
<div class="jumbotron jumbo-header">
</div>
<div class="jumbotron center">
  <h1>Lawn Gnome Greetings</h1>
  <p class="lead">Lawn Gnomes as a Service. (LGaaS). Under the cover of darkness our technicians will place 100 lawn gnomes in the front yards of your friends.</p>
  <%= link_to "Order Gnomes Now!", new_order_path, { :class => "btn btn-lg btn-primary" , :role => "button" } %>
  
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>Fun Greetings!</h2>
    Looking for that special gift?  Give someone a nice surprise for their birthday!  They wake up and something special has happened to their lawn.  
  </div>
  <div class="col-lg-4">
    <h2>Great for all Occasions!</h2>
    <ul>
      <li>Graduations</li>
      <li>Engagements</li>
      <li>Weddings</li>
      <li>Birthdays</li>
      <li>Street Parties</li>
      <li>Holidays</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>No Hassel!  No Mess!</h2>
    Enjoy 100 different lawn gnomes on your front yard for a day!  We set it up, we tear it down, you just enjoy!
  </div>
</div>
 
